<section>

      <h3 id="about-me">About Myself</h3>

      <div class="face-lockup">

        <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
        <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
        <div class="face-img"></div>
        <div class="icon-browser">{% include icons/icon-code.html %}</div>
        <div class="icon-video">{% include icons/icon-browser.html %}</div>

      </div>


    <p><strong>Grant Smith is the Creative Director of <a href="//www.transitiongraphics.co.uk" title="Responsive, engaging webdesign from Transition Graphics">Transition Graphics</a></strong>, a company he started in early 2014. Within this time, Grant has built up an impressive client list including Sony Music, Forestry Commission England and Costain.</p>
    <p>His professional career started in 1997 within photography but soon moved towards other areas of visual communication, more specifically print design and production. During this time, Grant has found a real passion for expanding his creative knowledge while developing existing experience. This has led to a very rounded skill set ranging from brand communications to e-commerce web development.</p>
    <p>Before Transition Graphics, Grant worked with a wide variety of companies and as his skills in design developed he came to the realisation that his heart lay in helping SME’s to grow through better visual communications. Transition Graphics goal is to provide SME’s with agency standards without agency costs.</p>
    <p>Grant lives in Gloucestershire with partner Karla and daughter Seren, in his free time, he is often found either swimming, cycling or running, a keen triathlete competing within Ironman events around the world.</p>

    <div class="skill-lockup"></div>
</section>
