<section>

     <h3 id="about-me">About Myself</h3>

     <div class="face-lockup">

        <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
        <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
        <div class="face-img"></div>
        <div class="icon-browser">{% include icons/icon-code.html %}</div>
        <div class="icon-video">{% include icons/icon-browser.html %}</div>

     </div>

     <div class="blurb">
         <p><strong>Grant Smith is the Creative Director of <a href="//www.transitiongraphics.co.uk" title="Responsive, engaging webdesign from Transition Graphics" target="_blank">Transition Graphics</a></strong>, a company he started in early 2014. Within this time, Grant has built up an impressive client list including <a href="//www.sonymusic.co.uk" title="Sony Music UK" target="_blank">Sony Music</a>, <a href="//www.forestry.gov.uk/england" title="Forestry Commision England" target="_blank">Forestry Commission England</a> and <a href="//www.costain.com" title="Engineering a Sustainable Tomorrow" target="_blank">Costain</a>.</p>
         <p>His professional career started in 1997 within photography but soon moved towards other areas of visual communication, more specifically print design and production. During this time, Grant has found a real passion for expanding his creative knowledge while developing existing experience. This has led to a very rounded skill set ranging from brand communications to e-commerce web development.</p>
         <p>Before Transition Graphics, Grant worked with a wide variety of companies and as his skills in design developed he came to the realisation that his heart lay in helping SME’s to grow through better visual communications. Transition Graphics goal is to provide SME’s with agency standards without agency costs.</p>
         <p>Grant lives in Gloucestershire with partner Karla and daughter Seren, in his free time, he is often found cycling the local hills.</p>
     </div>

    <div class="skill-lockup">

        <div class="skill-unit">
            <div class="skill-label">Communication</div>
            <div class="skill-icons skill-9">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Organisation</div>
            <div class="skill-icons skill-7">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Leaning</div>
            <div class="skill-icons skill-8">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Teaching</div>
            <div class="skill-icons skill-7">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Planning</div>
            <div class="skill-icons skill-8">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Visual Design</div>
            <div class="skill-icons skill-9">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">UX Design</div>
            <div class="skill-icons skill-6">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>


        <div class="skill-unit">
            <div class="skill-label">Programming</div>
            <div class="skill-icons skill-7">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>


    </div>
</section>
