// GLOBAL VARIABLES
// add your global variables here

$sans: 'Open Sans', Helvetica, Arial, sans-serif

$base-size: 14px

// brand

$brand-primary: #456BCD
$brand-dark: darken($brand-primary, 20%)
$red: #930A2A
$text-color: #666666

$pink:  #c69
$success: #4CAF50
$warning: #fc3
$danger:  orangered
$bgcolor: #e5eaee

// screen breakpoints

$desktop: 1024px
$tablet:  768px
$mobile:  568px
