@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* COMMON */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #FDFDFD;
  color: #666666; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 28px;
  margin: 15px 0; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 14px;
    font-weight: 500;
    border-bottom: solid 1px #666666;
    color: #666666; }

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

a {
  color: #7D4648;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #b37679; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

header nav a, header .kicker, h3, footer .content-wrap a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

header {
  height: 450px;
  background: url("/assets/img/hero-bg.jpg") center center;
  background-size: cover; }
  header .logo {
    height: 50px;
    width: 50px;
    float: left;
    margin: 10px 0 0 30px; }
    header .logo path {
      fill: rgba(255, 255, 255, 0.7); }
  header nav {
    float: right;
    margin: 30px 30px 0 0; }
    header nav a {
      display: inline-block;
      margin-left: 20px;
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none; }
      header nav a:hover {
        color: white; }
  header h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    clear: both;
    padding-top: 100px; }
    header h1 span {
      display: inline-block;
      padding: 0.2em 0.5em;
      border: white solid 10px; }
  header .kicker {
    text-align: center;
    letter-spacing: 0.05em;
    color: white;
    line-height: 1; }

h3 {
  color: #7D4648;
  text-align: center;
  padding: 100px 0 30px; }

.face-lockup {
  max-width: 780px;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  box-pack: justify;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
  .face-lockup .face-img {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/img/grant-smith-portrait.jpg");
    height: 200px;
    width: 200px; }
    @media screen and (max-width: 767px) {
      .face-lockup .face-img {
        margin: 0 auto; } }
  .face-lockup [class^="icon-"] {
    height: 100px;
    width: 100px;
    background: #e5eaee;
    border-radius: 50%;
    padding: 38px; }
    .face-lockup [class^="icon-"] path {
      fill: #7D4648; }
    @media screen and (max-width: 767px) {
      .face-lockup [class^="icon-"] {
        display: none; } }

.blurb {
  max-width: 620px;
  padding: 0 15px;
  margin: 50px auto;
  font-size: 20px;
  font-weight: 300; }
  .blurb a:hover {
    border-bottom: 1px dotted #7D4648; }

.skill-lockup {
  max-width: 540px;
  margin: 100px auto; }
  .skill-lockup::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 767px) {
    .skill-lockup {
      max-width: 270px; } }
  .skill-lockup .skill-unit {
    width: 270px;
    float: left; }
  .skill-lockup .skill-icons {
    font-size: 0;
    margin: 5px 0 30px; }
    .skill-lockup .skill-icons span {
      display: inline-block;
      height: 14px;
      width: 14px;
      background-color: #7D4648;
      margin-right: 8px;
      border-radius: 50%; }

.skill-lockup .skill-icons.skill-1 span:nth-child(n+2), .skill-lockup .skill-icons.skill-2 span:nth-child(n+3), .skill-lockup .skill-icons.skill-3 span:nth-child(n+4), .skill-lockup .skill-icons.skill-4 span:nth-child(n+5), .skill-lockup .skill-icons.skill-5 span:nth-child(n+6), .skill-lockup .skill-icons.skill-6 span:nth-child(n+7), .skill-lockup .skill-icons.skill-7 span:nth-child(n+8), .skill-lockup .skill-icons.skill-8 span:nth-child(n+9), .skill-lockup .skill-icons.skill-9 span:nth-child(n+10), .skill-lockup .skill-icons.skill-10 span:nth-child(n+11) {
  background: #e5eaee; }

footer {
  background: url("/assets/img/hero-footer-bg.jpg") center center;
  background-size: cover; }
  footer .lockup {
    padding: 50px 30px; }
    footer .lockup::after {
      clear: both;
      content: "";
      display: block; }
  footer .logo {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 30px; }
    footer .logo path {
      fill: rgba(255, 255, 255, 0.7); }
  footer .content-wrap {
    float: left; }
    footer .content-wrap nav {
      margin-top: 5px; }
    footer .content-wrap .copyright {
      margin: 0;
      text-transform: uppercase;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7); }
    footer .content-wrap a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      margin-right: 30px;
      text-decoration: none; }
      footer .content-wrap a:hover {
        color: white; }
